# OS specific files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/

# Excel temporary files
~$*

# Power BI temporary files
*.pbix.temp
*.pbit.temp

# SQL / Database temp files
*.log
*.tmp
